[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
statsmodels = "*"
matplotlib = "*"
requests = "*"
ipykernel = "*"
pyspark = "==3.5.1"
findspark = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"
